@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ali:hover div {
  color: green;
}

.header ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: xx-large;
  color: rgb(66, 57, 57);
  font-weight: 900;
}

.createArtScreen_form {
  width: 75%;
  margin: 5rem auto;
}

.createArtScreen_form input[type='text'],
.createArtScreen_form textarea {
  padding: 0.5rem;
  margin: 0.75rem 0;
  width: 100%;
}

.createArtScreen_form textarea {
  resize: none;
}
